force-app/main/default/flows/LFR_DeleteCasesOnAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>decision_CountCases</name>
        <label>ケースの数をチェック</label>
        <locationX>893</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>result_HasCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CasesToBeDeleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_Cases</targetReference>
            </connector>
            <label>ケースが1件以上</label>
        </rules>
    </decisions>
    <decisions>
        <description>取引先の[説明]項目に「削除」が含まれているかどうかを判定します。(この条件はサンプルのため、チェックボックス項目などを使用しても構いません)</description>
        <name>decision_DeleteCases</name>
        <label>ケースを削除するか</label>
        <locationX>455</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>result_ContainsDeleteInDescription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>削除</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_CasesToBeDeleted</targetReference>
            </connector>
            <label>説明に削除を含む</label>
        </rules>
    </decisions>
    <description>取引先の説明欄に「削除」という単語が含まれている場合、その取引先のケースをすべて削除します。これはレコード変更フローの仕組みや[レコードを削除] 要素の使い方を理解するためのサンプルフローです。</description>
    <interviewLabel>[Flow Recipes] ある取引先のケースを一括削除する {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow Recipes] 特定の取引先のケースを一括削除する</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>delete_Cases</name>
        <label>ケースを削除</label>
        <locationX>1185</locationX>
        <locationY>128</locationY>
        <inputReference>get_CasesToBeDeleted</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>削除対象のケースを取得します。</description>
        <name>get_CasesToBeDeleted</name>
        <label>削除対象のケースを取得</label>
        <locationX>705</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_CountCases</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>decision_DeleteCases</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
