force-app/main/default/flows/LFR_SearchAndUpdateContacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assign_AddContactToList</name>
        <label>リストに取引先責任者を追加</label>
        <locationX>740</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>var_ContactListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContactToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_RemoveFirstPicklistValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CheckboxGroupSelectionResult</name>
        <label>チェックボックスグループの選択結果を割り当て</label>
        <locationX>480</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedContactIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_isContactSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ContactFields</name>
        <label>更新する取引先責任者レコードの割り当て</label>
        <locationX>593</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>var_ContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NextPicklistValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactToUpdate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookup_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactToUpdate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContactDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AddContactToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NumOfContacts</name>
        <label>件数を取得</label>
        <locationX>165</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>var_NumOfContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_ContactSearchResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RemoveFirstPicklistValue</name>
        <label>先頭の選択リスト値を取り除く</label>
        <locationX>878</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedContactIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RemainingPicklistValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_isContactSelected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_isContactSelected</name>
        <label>コレクション変数に追加されていない選択リスト値があるか</label>
        <locationX>667</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>update_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0件</defaultConnectorLabel>
        <rules>
            <name>decisionResult_hasPicklistValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_NextPicklistValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ContactFields</targetReference>
            </connector>
            <label>1件以上</label>
        </rules>
    </decisions>
    <description>取引先責任者を検索し、ヒットしたレコードを一括更新する画面フローです。画面要素に入力チェックを適用する方法や、チェックボックスグループの選択結果をコレクション変数に保存する方法を理解します。</description>
    <dynamicChoiceSets>
        <name>options_ContactRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>input_ContactFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>input_ContactLastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formula_NextPicklistValue</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_SelectedContactIds}),
    null,
    IF(NOT(CONTAINS({!var_SelectedContactIds}, &apos;; &apos;)),
        {!var_SelectedContactIds},
        LEFT({!var_SelectedContactIds}, FIND(&apos;;&apos;,{!var_SelectedContactIds})-1)
    )
)</expression>
    </formulas>
    <formulas>
        <name>formula_RemainingPicklistValues</name>
        <dataType>String</dataType>
        <expression>IF( NOT(CONTAINS( {!var_SelectedContactIds} , &apos;; &apos;)), null,
RIGHT( {!var_SelectedContactIds} , LEN( {!var_SelectedContactIds} ) - FIND(&apos;;&apos;, {!var_SelectedContactIds}) -1 ))</expression>
    </formulas>
    <interviewLabel>[Flow Recipes] 取引先責任者の検索・更新画面 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow Recipes] 取引先責任者の検索・更新画面</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>検索結果件数を取得するためにこの要素を使用します。検索結果件数を取得する必要がない場合は、レコード選択肢セットだけを使用してください。</description>
        <name>get_Contacts</name>
        <label>取引先責任者を検索</label>
        <locationX>367</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_NumOfContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>input_ContactFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>input_ContactLastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Contacts</name>
        <label>取引先責任者を更新</label>
        <locationX>910</locationX>
        <locationY>65</locationY>
        <inputReference>var_ContactListToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>screen_ContactSearchResult</name>
        <label>検索結果</label>
        <locationX>315</locationX>
        <locationY>226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_CheckboxGroupSelectionResult</targetReference>
        </connector>
        <fields>
            <name>display_Result</name>
            <fieldText>&lt;p&gt;{!var_NumOfContacts} 件の取引先責任者が見つかりました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_Contacts</name>
            <choiceReferences>options_ContactRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>更新する取引先責任者を選択</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lookup_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>新しい取引先</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input_ContactDescription</name>
            <fieldText>取引先責任者の説明</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_SearchContacts</name>
        <label>取引先責任者の検索</label>
        <locationX>208</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Contacts</targetReference>
        </connector>
        <fields>
            <name>display_SearchContacts</name>
            <fieldText>&lt;p&gt;姓・名 (どちらもカナ) の部分一致で取引先責任者を更新します。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_ContactLastName</name>
            <dataType>String</dataType>
            <fieldText>姓</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;姓は全角カタカナで入力してください。&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!input_ContactLastName}, &apos;^([ァ-ン]|ー)+$&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>input_ContactFirstName</name>
            <dataType>String</dataType>
            <fieldText>名</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;名は全角カタカナで入力してください。&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!input_ContactFirstName}, &apos;^([ァ-ン]|ー)+$&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>screen_SearchContacts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_ContactListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_ContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_NumOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_SelectedContactIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
