force-app/main/default/flows/LFR_MassCampaignDeleteByAdminScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>取得したキャンペーンの数を変数に割り当てます。</description>
        <name>assign_CountNumOfCreatedCampaigns</name>
        <label>件数の取得</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_NumOfCreatedCampaings</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_CampaignCreatedByMe</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Confirmation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Profile</name>
        <label>プロファイルを確認</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>screen_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>システム管理者ではない</defaultConnectorLabel>
        <rules>
            <name>decisionResult_isAdmin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_ProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>システム管理者</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_CampaignCreatedByMe</targetReference>
            </connector>
            <label>システム管理者</label>
        </rules>
    </decisions>
    <description>ユーザの情報を取得するフローのサンプルです。</description>
    <formulas>
        <description>現在のユーザのプロファイル名を表す数式リソースです。</description>
        <name>formula_ProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <description>フローを実行しているユーザのIDを表す数式リソースです。</description>
        <name>formula_UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>[Flow Recipes] システム管理者だけが自分が作成したキャンペーンを一括削除できる画面 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow Recipes] システム管理者だけが自分が作成したキャンペーンを一括削除できる画面</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>delete_Campaings</name>
        <label>キャンペーンを削除</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputReference>get_CampaignCreatedByMe</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>フローを実行しているユーザが作成者であるキャンペーンを取得します。</description>
        <name>get_CampaignCreatedByMe</name>
        <label>キャンペーンの取得</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_CountNumOfCreatedCampaigns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_Alert</name>
        <label>メッセージを表示</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_Demo</name>
            <fieldText>&lt;p&gt;このフローはシステム管理者だけが使用することができます。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Confirmation</name>
        <label>確認メッセージを表示</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>delete_Campaings</targetReference>
        </connector>
        <fields>
            <name>display_ConfirmationMessage</name>
            <fieldText>&lt;p&gt;{!var_NumOfCreatedCampaings} 件のリードを削除します。問題なければ [次へ] を押してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_Profile</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>取得したキャンペーンの件数を格納する変数です。</description>
        <name>var_NumOfCreatedCampaings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
