force-app/main/default/flows/LFR_LeadUpdateScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_LeadFields</name>
        <label>項目値の割り当て</label>
        <locationX>534</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>get_Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeadLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeadFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Lead.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeadRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeadCompany</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>option_CurrentLeadRating</name>
        <choiceText>{!formula_CurrentLeadRatingLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>get_Lead.Rating</elementReference>
        </value>
    </choices>
    <description>リードを更新するシンプルな画面フローです。開いているレコードのIDを取得する方法や、レコード変数を用いてレコードを更新する方法、選択リスト値のデフォルト値として現在の値を取得する方法を理解します。</description>
    <dynamicChoiceSets>
        <name>options_LeadRatingWithoutCurrentSelection</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead.Rating</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>get_Lead.Rating</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formula_CurrentLeadRatingLabel</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!get_Lead.Rating}),
&#39;Hot&#39;,&#39;Hot&#39;,
&#39;Warm&#39;,&#39;Warm&#39;,
&#39;Cold&#39;,&#39;Cold&#39;,&#39;&#39;)</expression>
    </formulas>
    <interviewLabel>リードの更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow Recipes] リードの更新画面</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Lead</name>
        <label>リードの取得</label>
        <locationX>225</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_LeadUpdate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rating</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Company</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Lead</name>
        <label>リードの更新</label>
        <locationX>682</locationX>
        <locationY>50</locationY>
        <inputReference>get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>screen_LeadUpdate</name>
        <label>リードの更新画面</label>
        <locationX>379</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_LeadFields</targetReference>
        </connector>
        <fields>
            <name>input_LeadLastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Lead.LastName</elementReference>
            </defaultValue>
            <fieldText>姓</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_LeadFirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Lead.FirstName</elementReference>
            </defaultValue>
            <fieldText>名</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_LeadCompany</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Lead.Company</elementReference>
            </defaultValue>
            <fieldText>会社</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_LeadRating</name>
            <choiceReferences>options_LeadRatingWithoutCurrentSelection</choiceReferences>
            <choiceReferences>option_CurrentLeadRating</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>option_CurrentLeadRating</defaultSelectedChoiceReference>
            <fieldText>評価</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Lead</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
