force-app/main/default/flows/LFR_ScheduledTaskEmailReminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>ToDoの所有者にメールを送信するアクションです。</description>
        <name>action_SendEmailToTaskOwner</name>
        <label>所有者にメールを送信</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>loop_Tasks</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tt_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>loop_Tasks.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>ToDoの期日が過ぎています</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <description>メールを送信する際にToDoの所有者からメールアドレスを辿りますが、所有者がユーザかキューかで参照するオブジェクトが異なるため、分岐を作成します。
キューはメールアドレスが設定されていないとエラーになってしまうため、このフローでは簡便のために所有者がユーザの場合のみメール送信対象にしています。</description>
        <name>decision_TaskOwner</name>
        <label>所有者がユーザかキューか</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>loop_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>所有者がキュー</defaultConnectorLabel>
        <rules>
            <name>result_TaskOwnerIsUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Tasks.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>action_SendEmailToTaskOwner</targetReference>
            </connector>
            <label>所有者がユーザ</label>
        </rules>
    </decisions>
    <description>期限切れのToDoをメールでリマインドするスケジュールフローです。</description>
    <formulas>
        <description>組織のURLを取得する数式項目です。</description>
        <name>formula_OrgBaseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <description>本日の日付を返す数式です。</description>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>[Flow Recipes] 毎朝9時に期日を過ぎたToDoの所有者にメール通知するフロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow Recipes] 毎朝9時に期日を過ぎたToDoの所有者にメール通知するフロー</label>
    <loops>
        <description>直前に取得したToDoに対するループ処理です。</description>
        <name>loop_Tasks</name>
        <label>取得したToDoを繰り返し</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>get_ExpiredTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_TaskOwner</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>期限切れのToDoを取得するため、[レコードの取得]要素を用いて、期日項目と本日日付の数式を比較します。</description>
        <name>get_ExpiredTasks</name>
        <label>期限切れのToDoを取得</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_ExpiredTasks</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-03-01</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>リマインドメールの本文です。</description>
        <name>tt_EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ToDo 「{!loop_Tasks.Subject}」 の期限が切れています。

{!formula_OrgBaseUrl}{!loop_Tasks.Id}</text>
    </textTemplates>
</Flow>
