force-app/main/default/flows/LFR_MassEmailToContactsScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendEmail</name>
        <label>メールを送信</label>
        <locationX>810</locationX>
        <locationY>275</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>loop_Contacts</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[Flow Recipes] こんにちは！</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>var_currentContact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <description>取得した取引先の業種が空かどうかを判定します。</description>
        <name>decision_Industry</name>
        <label>業種のある取引先を絞り込み</label>
        <locationX>41</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>screen_Invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>業種が空</defaultConnectorLabel>
        <rules>
            <name>decisionResult_IndustryExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.Industry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Confirmation</targetReference>
            </connector>
            <label>業種が空ではない</label>
        </rules>
    </decisions>
    <description>複数の画面要素や、決定要素・ループ要素を使用して、取引先責任者へまとめてメール送信する画面フローです。条件分岐やコレクション変数の使い方を学びます。</description>
    <interviewLabel>[Flow Recipes] 取引先から取引先責任者へ一括メール送信する画面フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow Recipes] 取引先から取引先責任者へ一括メール送信する画面</label>
    <loops>
        <name>loop_Contacts</name>
        <label>取引先責任者で繰り返し</label>
        <locationX>632</locationX>
        <locationY>112</locationY>
        <assignNextValueToReference>var_currentContact</assignNextValueToReference>
        <collectionReference>get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sendEmail</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>現在開いている取引先のレコードを取得します。</description>
        <name>get_Account</name>
        <label>取引先を取得</label>
        <locationX>49</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Industry</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>メールアドレスが空でない取引先責任者を取得します。</description>
        <name>get_Contacts</name>
        <label>取引先責任者を取得</label>
        <locationX>442</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_Confirmation</name>
        <label>確認画面</label>
        <locationX>255</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Contacts</targetReference>
        </connector>
        <fields>
            <name>display_ConfirmationMessage</name>
            <fieldText>&lt;p&gt;[次へ] をクリックするとこの取引先に所属する取引先責任者に一括メール送信します。メールを送信しない場合はウィンドウを閉じてください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Invalid</name>
        <label>送信できません</label>
        <locationX>245</locationX>
        <locationY>462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_BlankIndustryMessage</name>
            <fieldText>&lt;p&gt;業種が空のためメールを送信できません。取引先を編集し業種を選択してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>メールの本文です。</description>
        <name>emailBody</name>
        <text>{!var_currentContact.LastName} さん
こんにちは！フローレシピのインストールありがとうございます！</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ループ内変数として使用する、1件の取引先責任者レコードを表す変数です。</description>
        <name>var_currentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
