force-app/main/default/flows/LFR_TaskWithFileCreateScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>ToDo登録後に続けてファイルをアップロードできる画面フローです。[ファイルのアップロード] 画面コンポーネントの使い方を理解します。</description>
    <interviewLabel>[Flow Recipes] ToDoと添付ファイルの登録画面 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow Recipes] ToDoとファイルの登録画面</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>TaskCreate</name>
        <label>ToDoの作成</label>
        <locationX>370</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>FileUploadScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>FileUploadScreen</name>
        <label>添付ファイルの登録</label>
        <locationX>542</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FileUploadComponent</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ファイルのアップロード</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>TaskCreate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TaskCreateScreen</name>
        <label>ToDoの登録</label>
        <locationX>176</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TaskCreate</targetReference>
        </connector>
        <fields>
            <name>TaskSubject</name>
            <dataType>String</dataType>
            <fieldText>件名</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaskDescription</name>
            <fieldText>説明</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TaskDueDate</name>
            <dataType>Date</dataType>
            <fieldText>完了予定日</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>TaskCreateScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
