force-app/main/default/flows/LFR_CreateContactAndUpdateCaseFromWebOrEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_NumOfContacts</name>
        <label>検索結果の件数を取得</label>
        <locationX>748</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>var_NumOfContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_ContactsByEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_NumOfContacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Web-to-またはメール-to-ケースで作成されたケースかどうかを判定します。様々な方法がありますが、ここでは、SuppliedEmail項目に値が入っているかどうかで判定しています。</description>
        <name>decision_CaseFromWebOrEmail</name>
        <label>Webまたはメールのケース</label>
        <locationX>369</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Web_Or_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_ContactsByEmail</targetReference>
            </connector>
            <label>Webまたはメール</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NumOfContacts</name>
        <label>取引先責任者の件数</label>
        <locationX>882</locationX>
        <locationY>275</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>decisionResult_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumOfContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Contact</targetReference>
            </connector>
            <label>0件</label>
        </rules>
    </decisions>
    <description>Web-to-ケースまたはメールto-ケースで作成されたケースに対して、メールアドレスで取引先責任者を検索し、1件もヒットしない場合に限り新規に取引先責任者レコードを作成し元のケースに紐付けます。</description>
    <interviewLabel>[Flow Recipes] Web-to-ケースで取引先責任者を自動作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow Recipes] Web-to-ケース/メール-to-ケースで取引先責任者を自動作成</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Contact</name>
        <label>取引先責任者の新規作成</label>
        <locationX>1071</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_ContactsByEmail</name>
        <label>メールアドレスで取引先責任者を検索</label>
        <locationX>576</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_NumOfContacts</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Case</name>
        <label>ケースと取引先責任者の紐付けを更新</label>
        <locationX>1072</locationX>
        <locationY>460</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>create_Contact</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>decision_CaseFromWebOrEmail</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>メールアドレスで検索した取引先責任者の件数を保存する変数です。</description>
        <name>var_NumOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
