force-app/main/default/flows/LFR_OpportunityAndContactRoleCreateScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assign_ContactRole1Fields</name>
        <label>取引先責任者ロール1項目値の割り当て</label>
        <locationX>572</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>var_OpportunityContactRole1.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookup_Contact1.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityContactRole1.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityContactRole1.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContactRole1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ContactRole1Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ContactRole1Record</name>
        <label>取引先責任者ロール1レコードをリストに割り当て</label>
        <locationX>730</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>var_OpportunityContactRoleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OpportunityContactRole1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Contact2Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ContactRole2Fields</name>
        <label>取引先責任者ロール2の値割り当て</label>
        <locationX>571</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>var_OpportunityContactRole2.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookup_Contact2.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityContactRole2.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContactRole2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityContactRole2.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ContactRole2Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ContactRole2Record</name>
        <label>取引先責任者ロール2レコードをリストに割り当て</label>
        <locationX>733</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>var_OpportunityContactRoleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OpportunityContactRole2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_OpportunityContactRole</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Contact1Exists</name>
        <label>取引先責任者ロール1を登録するか</label>
        <locationX>283</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>decision_Contact2Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>取引先責任者1に値がない</defaultConnectorLabel>
        <rules>
            <name>decisionResult_Contact1Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lookup_Contact1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ContactRole1Fields</targetReference>
            </connector>
            <label>取引先責任者1に値がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Contact2Exists</name>
        <label>取引先責任者ロール2を登録するか</label>
        <locationX>286</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>create_OpportunityContactRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>取引先責任者2に値がない</defaultConnectorLabel>
        <rules>
            <name>decisionResult_Contact2Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lookup_Contact2.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ContactRole2Fields</targetReference>
            </connector>
            <label>取引先責任者2に値がある</label>
        </rules>
    </decisions>
    <description>商談とその取引先責任者のロールを1度に作成する画面フローです。ルックアップ要素の使い方、親-子オブジェクトのレコードを作成する方法、固定のサイズのレコードコレクション変数を用いたレコードの作成方法を理解します。</description>
    <dynamicChoiceSets>
        <name>options_OpportunityContactRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role</picklistField>
        <picklistObject>OpportunityContactRole</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>options_OpportunityStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>[Flow Recipes] 商談と取引先責任者の役割の登録画面 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow Recipes] 商談と取引先責任者ロールを1度に作成する画面</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Opportunity</name>
        <label>商談の作成</label>
        <locationX>658</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>decision_Contact1Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>input_OpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>input_OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>input_OpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_OpportunityContactRole</name>
        <label>取引先責任者ロールの登録</label>
        <locationX>294</locationX>
        <locationY>687</locationY>
        <inputReference>var_OpportunityContactRoleRecords</inputReference>
    </recordCreates>
    <screens>
        <name>screen_OppContactRoleCreate</name>
        <label>商談と取引先責任者の役割を登録</label>
        <locationX>455</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>display_OpportunityMessage</name>
            <fieldText>&lt;p&gt;商談の詳細を入力してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inpur_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>取引先</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_AccountId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>input_OpportunityName</name>
            <dataType>String</dataType>
            <fieldText>商談名</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_OpportunityAmount</name>
            <dataType>Currency</dataType>
            <fieldText>金額</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>input_OpportunityCloseDate</name>
            <dataType>Date</dataType>
            <fieldText>完了予定日</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_OpportunityStage</name>
            <choiceReferences>options_OpportunityStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>フェーズ</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_ContactRoleMessage</name>
            <fieldText>&lt;p&gt;取引先責任者のロールを入力してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lookup_Contact1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>取引先責任者1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input_ContactRole1</name>
            <choiceReferences>options_OpportunityContactRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ロール1</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lookup_Contact2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>取引先責任者2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input_ContactRole2</name>
            <choiceReferences>options_OpportunityContactRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ロール2</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>screen_OppContactRoleCreate</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OpportunityContactRole1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>var_OpportunityContactRole2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>var_OpportunityContactRoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
