force-app/main/default/flows/LFR_LeadUpdateScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assign_LeadFields</name>
        <label>項目値の割り当て</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeadLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeadFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeadRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeadCompany</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Lead</targetReference>
        </connector>
    </assignments>
    <description>リードを更新するシンプルな画面フローです。開いているレコードのIDを取得する方法や、レコード変数を用いてレコードを更新する方法、選択リスト値のデフォルト値として現在の値を取得する方法を理解します。</description>
    <dynamicChoiceSets>
        <name>options_LeadRating</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>リードの更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow Recipes] リードの更新画面</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update_Lead</name>
        <label>リードの更新</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>screen_LeadUpdate</name>
        <label>リードの更新画面</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_LeadFields</targetReference>
        </connector>
        <fields>
            <name>screen_LeadUpdate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_LeadUpdate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_LeadLastName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.LastName</elementReference>
                    </defaultValue>
                    <fieldText>姓</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_LeadUpdate_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_LeadFirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>名</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_LeadCompany</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Company</elementReference>
            </defaultValue>
            <fieldText>会社</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_LeadRating</name>
            <choiceReferences>options_LeadRating</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Rating</elementReference>
            </defaultValue>
            <fieldText>評価</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_LeadUpdate</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
